<div class="jumbotron">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group form-group-sm">
                    <label for="names" class="col-sm-2 control-label">Names: </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="names" placeholder="Names...">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="currentAddress" class="col-sm-2 control-label">Current address: </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="currentAddress" placeholder="Current address...">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="permanentAddress" class="col-sm-2 control-label">Permanent address: </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="permanentAddress" placeholder="Permanent address...">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="phones" class="col-sm-2 control-label">Phones: </label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="phones" placeholder="Phones...">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="langs" class="col-sm-2 control-label">Languages: </label>
                    <div class="col-sm-4">
                        <ol id="langs" class="nya-bs-select btn-sm" ng-model="languagesModel" multiple data-size="5" data-live-search="true">
                            <li nya-bs-option="option in languages">
                                <a>
                                    {{ option.name }}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                    <label for="education" class="col-sm-2 control-label">Education: </label>
                    <div class="col-sm-4">
                        <ol id="education" class="nya-bs-select btn-sm" ng-model="educationsModel" multiple data-size="5" data-live-search="true">
                            <li nya-bs-option="option in educations">
                                <a>
                                    {{ option.name }}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="email" class="col-sm-2 control-label">E-mail: </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="email" placeholder="e-mail...">
                    </div>
                    <label for="skype" class="col-sm-2 control-label">Skype: </label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="skype" placeholder="Skype...">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="eid" class="col-sm-2 control-label">EID: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="eid" placeholder="EID...">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="eid" class="col-sm-2 control-label">Documents: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lk" placeholder="Lichna karta...">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label for="bank" class="col-sm-2 control-label">Documents: </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="bank" placeholder="IBAN...">
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-sm pull-right" ng-click="test()" style="width: 100px;">
                    <i class="fa fa-plus"></i> Add
                </button>
            </form>
        </div>
    </div>
</div>